@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  background-color: #ffff;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  -webkit-animation: page-load 1s 4s forwards;
          animation: page-load 1s 4s forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.loader > i {
  font-size: 100px;
  -webkit-animation: spinner 2s linear infinite;
          animation: spinner 2s linear infinite;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  width: 100%;
}

.header__logo {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 200px;
  padding: 20px 0px 10px 0px;
}

.header__location {
  color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e5e5;
}

.header__location__pointer {
  height: auto;
  padding-right: 15px;
}

.header__p {
  margin: 0%;
}

.header__div {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.header__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: auto;
  padding: 40px 50px 10px 80px;
  margin: 0;
  font-size: 1.5rem;
}

.header__h2 {
  text-align: center;
  margin: 0%;
  padding: 0px 20px 35px 40px;
  font-size: 1.1rem;
  font-weight: 100;
}

.header__btn {
  width: 240px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #ffff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  background: #9356DC;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
}

.header__btn:hover {
  font-size: 1.1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 15px 5px 29px 15px;
          box-shadow: rgba(149, 157, 165, 0.2) 15px 5px 29px 15px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section__h2 {
  width: 95%;
  max-width: 400px;
  margin: auto;
  padding: 50px 0px 30px 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .section__h2 {
    width: 100%;
    margin-left: 0;
  }
}

.section__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  width: 100%;
}

@media (min-width: 768px) {
  .section__div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section__btn {
  font-size: 1.1rem;
  font-weight: 500;
}

.section__btn--f {
  padding-right: 1rem;
  font-size: 20px;
  color: #807c7c;
}

.section__numbering {
  left: -1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #9356DC;
  color: #ffff;
}

.main {
  padding: 50px 0px 65px 0px;
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .main__div__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main__h2 {
  padding-left: 20px;
  font-size: 1.5rem;
  margin-top: 0px;
}

.main__restaurant {
  width: 50%;
}

.main__article {
  margin-left: 5%;
  background-color: #ffff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
}

.main__article__span {
  background-color: #99e2d0;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
  color: #2a8766;
  font-size: 0.8rem;
}

.main__article--img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: -9999;
}

.main__div__1 {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 70%;
}

.main__div__h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.main__div__h4 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 200;
}

.main__div--heart {
  display: inline;
  font-size: xx-large;
  font-weight: 100;
}

.main__div--heart:hover {
  -webkit-animation: Liked 1s linear;
          animation: Liked 1s linear;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section .section__btn {
  width: 87%;
  max-width: 350px;
  height: 80px;
  margin: 0px 10px 20px 10px;
  border: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
  gap: 10px;
}

.section .section__btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 2px 7px 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 2px 7px 20px;
  background-color: #f5edff;
}

.section .section__btn:hover :nth-child(2) {
  color: #9356DC;
}

.footer .footer__li {
  text-decoration: none;
  list-style: none;
}

.menu__div__btn {
  width: 180px;
  max-width: 400px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: #ffff;
  font-size: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
  background: #9356DC;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.menu__div__btn:hover {
  font-size: 1.1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 15px 5px 29px 15px;
          box-shadow: rgba(149, 157, 165, 0.2) 15px 5px 29px 15px;
}

h1, h2, h3, h4 {
  font-size: 1.4rem;
}

p {
  margin-top: 0%;
}

a, a:visited, a:active {
  text-decoration: none;
  color: black;
}

.footer {
  padding-bottom: 20px;
  background-color: #353535;
}

.footer__img {
  width: 100px;
  margin-left: 20px;
  margin-top: 25px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__ul {
  padding-left: 20px;
}

.footer__li {
  color: #ffff;
  margin-bottom: 10px;
}

.footer__li > i {
  padding-right: 5px;
}

.footer__li__a:link {
  color: #ffff;
}

.menu__header {
  margin: 0;
  padding: 0;
}

.menu__header__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.menu__header__back {
  font-size: 1.5rem;
  width: 2rem;
  padding-left: 1rem;
}

.menu__header__logo {
  width: 180px;
  margin: auto;
  padding-right: 3rem;
}

.menu__header__img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__main {
  position: relative;
  margin-top: -60px;
  width: 100%;
  background-color: #f4f4f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.menu__main__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7rem;
}

.menu__main__div > i {
  margin-right: 2rem;
}

.menu__main__h1 {
  padding-left: 20px;
  font-family: "Shrikhand";
  font-size: 1.8rem;
  font-weight: 100;
}

.menu__section__h2 {
  display: block;
  font-weight: 300;
  font-size: 1rem;
  margin: 0rem 0rem 0.4rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-collapse: collapse;
  color: #343434;
}

.menu__section__h2--underline {
  margin: 0rem 0rem 0rem 1rem;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

@media (max-width: 768px) {
  .menu__section__div article:last-child {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .menu__section__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu__article {
  cursor: pointer;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
  background-color: #ffff;
  border-radius: 1rem;
  width: 93%;
  max-width: 400px;
  margin: auto;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 1s growDown linear;
          animation: 1s growDown linear;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  margin-bottom: 1rem;
}

.menu__article:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.menu__article:nth-child(2) {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}

.menu__article:nth-child(3) {
  -webkit-animation-delay: 140ms;
          animation-delay: 140ms;
}

.menu__article:nth-child(4) {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}

.menu__article__h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0rem 0.5rem 0.7rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu__article__p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0.7rem;
  color: #343434;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu__article__div__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu__article__price {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -1.5rem;
}

.menu__article__div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__article__hidden {
  height: inherit;
  -webkit-transition: -webkit-transform 5s ease-out;
  transition: -webkit-transform 5s ease-out;
  transition: transform 5s ease-out;
  transition: transform 5s ease-out, -webkit-transform 5s ease-out;
  height: inherit;
  width: 60px;
  background-color: #99E2D0;
  color: #ffff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu__article__hidden > i {
  font-size: 1.5rem;
}

.menu__article:hover .menu__article__hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: checked 500ms;
          animation: checked 500ms;
}

.menu__article:hover .menu__article__hidden > i {
  -webkit-animation: rotate 0.5s ease-in-out;
          animation: rotate 0.5s ease-in-out;
}

.menu__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

@-webkit-keyframes checked {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 60px;
  }
}

@keyframes checked {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 60px;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #9356DC;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #99E2D0;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #9356DC;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #99E2D0;
  }
}

@-webkit-keyframes page-load {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes page-load {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes Liked {
  0% {
    font-weight: 100;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes Liked {
  0% {
    font-weight: 100;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*# sourceMappingURL=main.css.map */