@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0%;
  padding: 0%;
}

.header {
  width: 100%;
}

.header__logo {
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 200px;
  padding: 20px 0px 10px 0px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e5e5;
}

.header__location__pointer {
  height: auto;
  padding-right: 15px;
}

.header__p {
  margin: 0%;
}

.header__div {
  background-color: #f8f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.header__h1 {
  font-family: 'Roboto', "cursive";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.header__h2 {
  text-align: center;
  font-family: 'Roboto', "cursive";
  font-weight: 900px;
}

.section__h2 {
  padding-left: 20px;
}

.section__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__btn {
  font-size: 15px;
}

.section__numbering {
  left: -2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #9356DC;
  font-family: 'Roboto', "cursive";
}

.main {
  padding: 50px 0px 50px 0px;
  background-color: #f4f4f4;
}

.main__h2 {
  padding-left: 20px;
}

.main__article {
  margin-left: 10%;
  background-color: #ffff;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.main__article--img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main__div__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 70%;
  margin-left: 10%;
}

.main__div__h3 {
  margin: 0;
  font-size: 20px;
}

.main__div__h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 50;
}

.main__div--heart {
  display: inline;
  height: 30px;
  width: 30px;
}

i {
  width: 20px;
  height: 20px;
}

.header__btn {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #ffff;
  border: none;
  border-radius: 20px;
  font-size: large;
  cursor: pointer;
  font-family: 'Roboto', "cursive";
  background: #9356DC;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.section .section__btn {
  width: 300px;
  height: 80px;
  padding: auto;
  margin: 0px 10px 20px 10px;
  border: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', "cursive";
}

.footer .footer__li {
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4 {
  font-size: 1.4rem;
  font-family: 'Roboto', "cursive";
}

p {
  margin-top: 0%;
}

a, a:visited, a:active {
  text-decoration: none;
  color: black;
}

.header__h1 {
  width: auto;
  padding: 10% 15% 5% 15%;
  margin: 0;
}

.header__h2 {
  padding: 0% 10% 0% 10%;
  font-size: 1rem;
  font-weight: 100;
}

.footer {
  background-color: #383434;
}

.footer__img {
  width: 100px;
  margin-left: 20px;
  margin-top: 25px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__ul {
  padding-left: 20px;
}

.footer__li {
  color: #ffff;
  margin-bottom: 10px;
}

.footer__li__a:link {
  color: #ffff;
}
/*# sourceMappingURL=main.css.map */