@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');


h1,h2,h3,h4{
    font-size: 1.4rem;

}

p{
    margin-top: 0%
}

a, a:visited,a:active{
    text-decoration: none;
    color: black;
}






