

@mixin title-mixin{
    font-family: "Shrikhand";
    font-size: 1.8rem;
    font-weight: 100;
    
}

@mixin shadow-box{
    box-shadow: rgba(149, 157, 165, 0.2) 5px 8px 24px;
}

@mixin shadow-box-hover{
    box-shadow: rgba(149, 157, 165, 0.2) 15px  5px 29px 15px;
}



@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}


    
// @mixin liked{
//     font-weight: 900;
//     background: -webkit-gradient(linear, left top, left bottom, from($color-Primaire), to($color-secindaire));
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;


// }
