.section %section__btn{
    width: 300px;
    height: 80px;
    padding: auto;
    margin: 0px 10px 20px 10px;
    border: none;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include font-mixin;
    @include shadow-box;
    // border: dotted;
    gap: 10px;



}

.main %main__article{
    object-fit: cover;

}

.footer %footer__li{
    text-decoration: none;
    list-style: none;

}

.main %linear-gradient{
    background: linear-gradient(#FF79DA, #9356DC);

}


.header %box-shadow{
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border: dotted red 5px;
}

