.section %section__btn{
    width: 90%;
    max-width: 400px;
    height: 80px;
    padding: auto;
    margin: 0px 10px 20px 10px;
    border: none;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include font-mixin;
    @include shadow-box;
    // border: dotted;
    gap: 10px;

}

.section %color-change:hover{
    background-color: $btn-hover-color;
& :nth-child(2){
    color: $color-Primaire;
}
}

.main %main__article{
    object-fit: cover;

}

.footer %footer__li{
    text-decoration: none;
    list-style: none;

}

.main %linear-gradient{
    background: linear-gradient(#FF79DA, #9356DC);

}


.header %box-shadow{
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border: dotted red 5px;
}



%menu__btn{
    width: 180px;
    max-width: 400px;
    height: 50px;
    // margin-left: 40%;
    // margin: 0px 10px 20px 10px;
    border: none;
    border-radius: 25px;


    position: relative;


    display: flex;
    justify-content: center;
    align-items: center;
    @include font-mixin;
    @include shadow-box;
    // gap: 10px;

}
