.section %section__btn{
    width: 87%;
    max-width: 400px;
    height: 80px;
    padding: auto;
    margin: 0px 10px 20px 10px;
    border: none;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include shadow-box;
    gap: 10px;


}

.section %color-change:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 2px 7px 20px;
    background-color: $btn-hover-color;
& :nth-child(2){
    color: $color-Primaire;
}

}

.main %main__article{
    object-fit: cover;

}

.footer %footer__li{
    text-decoration: none;
    list-style: none;

}

.main %linear-gradient{
    background: linear-gradient(#FF79DA, #9356DC);

}





%menu__btn{
    width: 180px;
    max-width: 400px;
    height: 50px;

    border: none;
    border-radius: 25px;
    color: $bg-white;
    font-size: 1rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    @include shadow-box;
    @include linear-gradient($color-secindaire,$color-Primaire);

}
