$police-logo: "Shrikhand";


$color-Primaire:#9356DC;
$color-secindaire: #FF79DA;
$color-Tertiaire: #99E2D0;
$btn-hover-color:#f5edff;
$gray-color: #343434;
$bg-header-div:#f7f7f7;
$banner-color:#99e2d0;
$banner-text-color: #2a8766;
$bg-white: #ffff;
$bg-gray: #f4f4f4;
$bg-footer: #353535;
$fontAwesome-color:#807c7c;

$tablet: 768px;


