
$police-logo: "Shrikhand";


$color-Primaire:#9356DC;
$color-secindaire: #FF79DA;
$color-Tertiaire: #99E2D0;

$btn-hover-color:#f5edff;


$bg-white: #ffff;
$bg-gray: #f4f4f4;
$bg-footer: #383434;
$fontAwesome-color:#807c7c;


