.footer{
    
    @include font-mixin;
    padding-bottom: 20px;

    background-color: $bg-footer;
    &__img{
        width: 100px;
        margin-left: 20px;
        margin-top: 25px;
        // background-color: $bg-white;
        filter: brightness(0) invert(1);
    
    }

    &__ul{

        padding-left: 20px;
    }
    &__li{


        color: $bg-white;
        margin-bottom: 10px;
        @extend %footer__li;
        & > i{
            // border: dotted;
            padding-right: 5px;
        }

        &__a:link {
            color: $bg-white;
        

        }

    }


}
