.main{
    padding: 50px 0px 50px 0px;
    background-color: $bg-gray;

    &__div__head{
        @media (min-width: 700px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            // border: dotted red 6px;
            // width: fit-content;
            a{ 
                width: 90%;
                // border: dotted 6px red;
            }

    
          }

    }

    &__h2{
        padding-left: 20px;

    }
    &__restaurant{
        width: 49%;
        margin: 0px;
        padding: 0px;
        // ma
        // border: dotted;

    }
    &__article{
        
        margin-left: 10%;
        background-color: $bg-white;

        @include box-shadow;
        // box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        width: 80%;
        margin-bottom: 20px;
        border-radius: 20px;
        // border: dotted;




        
        &--img{
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-left-radius:20px ;
            border-top-right-radius:20px ;
        }
    }
    &__div__1{
        display: flex;
        flex-direction: row;
  
    }
    
    &__div{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 70%;
        margin-left: 10%;
        &__h3{
            margin: 0;
            font-size: 20px;
        }
        
        &__h4{
            margin: 0;
            font-size: 15px;
            font-weight: 50;
        }
        &--heart{
            display: inline;
            height: 30px;
            width: 30px;
            
        }
                
    }

}


