.main{
    padding: 50px 0px 50px 0px;
    background-color: $bg-gray;

    &__div__head{
        @media (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            // width: fit-content;
            // height: fit-content;
        }
    }

    &__h2{
        padding-left: 20px;
        @include font-mixin;
        font-size: 30px;

    }
    &__restaurant{

        width: 50%;

        // background-color: red;
        // width: 100%;
        // height: 100%;
        // margin: 0px;
        // padding: 0px;
        // ma
        // border: dotted;

    }
    &__article{
        
        margin-left: 5%;
        background-color: $bg-white;

        @include shadow-box;
        width: 90%;
    
        margin-bottom: 20px;
        border-radius: 20px;
        // border: dotted;




        
        &--img{
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-left-radius:20px ;
            border-top-right-radius:20px ;
        }
    }
    &__div__1{
        height: 75px;
        display: flex;
        justify-content: space-around;
        align-items: center;
  
    }


    &__div{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 70%;
        // margin-left: 1rem;
        &__h3{
            // width: ;
            margin: 0;
            font-size: 20px;
        }
        
        &__h4{
            margin: 0;
            font-size: 1.2rem;
            font-weight: 200;
        }
        &--heart{
            display: inline;
            font-size: xx-large;
            &:hover{
                font-weight: 900;

                background: -webkit-gradient(linear, left top, left bottom, from($color-Primaire), to($color-secindaire));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                     }



        }
                
    }

}


