.menu__header{
    margin: 0;
    padding: 0;
    &__div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 70px;

    }
    &__back{
        font-size: 1.5rem;
        width: 2rem;
        padding-left: 1rem;
    }
    &__logo{
        width: 180px;
        margin: auto;
        padding-right: 3rem;
    }
    &__img{
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
}

.menu__main{
    background-color: $bg-gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    &__div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }
    &__h1{
        @include title-mixin;
    }
}

.menu__section{
    &__h2{
        font-weight: 200;
        margin-left: 1rem;
        width: fit-content;
        border-bottom: $color-Tertiaire 3px solid;
    }

}

.menu__article{
    @include shadow-box;
    @include font-mixin;
    background-color: $bg-white;
    border-radius: 1.5rem;
    width: 95%;
    margin: auto;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    margin-bottom: 1rem;
    // border: dotted;

    &__h3{
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0.5rem 0.5rem 0.5rem 1rem ;
        // margin-left: 1rem;

    }
    &__p{
        // color: red;
        font-size: 0.8rem;
        font-weight: 400;
        margin-left: 1rem;
        margin: 0.5rem 0.5rem 0.5rem 1rem ;


    }
    &__div{
        height: inherit;
        display: flex;
        
    }
    &__span{

        padding-right: 1rem;
        display: flex;
        align-items: center;
        
        &__hidden{
            // opacity: 0;

            height: inherit;

            & > i{

                height: inherit;
                width: 60px;
                background-color: $color-Tertiaire;
                color: $bg-white;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;

            }



        }

    }
        

}

.menu__div{
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn{
        border: dotted;
        
    }
}